.dosbord-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
width: 285px;
height: 136px;
background-color: #FFFFFF;
border-radius: 4px;

}
.doshbord-left{
display: flex;
align-items: center;
gap: 5px;
justify-content: center;
}
.dashbord-title{
  width: 83px;
height: 28px;
opacity: 1;
font-family: Inter;
font-weight: 700;
font-size: 20px;
line-height: 28px;
letter-spacing: 0px;
color: #131523;
}
.deshbord-text{
  font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
color: #5A607F;
}
.deshbord-mark{
  font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
color: #06A561;
border: none;
background: none;
}
.last-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.prodo-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}